p::selection {
  background: var(--all-color); 
  color: white;
}

.about__title {
  animation:bounceInDown 3s forwards;
  margin: 40px auto;
  text-align: center;
  width: 100%;
}

.title {
  position: relative;
}

.title::after {
  background-color:  var(--all-color);
  bottom: -5px;
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 120px;
}

.about__content {
  animation: 3s fadeIn 2s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  padding-top: 20px;
  text-align: justify;
}

.content__image {
  background-image: url('../images/Scan.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 100%;
}

.content__paragraphs {
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}

.paragraphs__link {
  color: var(--all-color);
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

@media (min-width: 770px) {
  .about__content {
    flex-wrap: nowrap;
  }
  
  .content__image {
    width: 300px;
  }
  
  .content__paragraphs {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .content__paragraphs {
    width: 70%;
  }
}