.pos1 {
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) var(--time) forwards;
  bottom: 50%;
  background-color: rgba(4, 146, 16, 0.603);
  opacity: 0;
  right: 10%;
}

.pos2 { /**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 2s) forwards;
  bottom: 30%;
  background-color: rgba(146, 37, 4, 0.603);
  left: -2%;
  opacity: 0;
}

.pos3 { /**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 4s) forwards;
  background-color: rgba(101, 4, 146, 0.603);
  left: 10%;
  opacity: 0;
  top: 15%;
}

.pos4 { /**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 6s) forwards;
  background-color: rgba(146, 132, 4, 0.603);
  opacity: 0;
  right: 20%;
  top: 25%;
}

.pos5 {/**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 8s) forwards;
  background-color: rgba(146, 68, 4, 0.603);
  opacity: 0;
  right: 12%;
  top: 5%;
}

.pos6 {/**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 10s) forwards;
  background-color: rgba(146, 4, 92, 0.603);
  left: 36%;
  opacity: 0;
  top: -5%;
}

.pos7 { /**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 12s) forwards;
  bottom: 5%;
  background-color: rgba(146, 4, 4, 0.603);
  opacity: 0;
  right: 23%;
}

.pos8 { /**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 14s) forwards;
  background-color: rgba(4, 125, 146, 0.603);
  left: 18%;
  opacity: 0;
  top: 55%;
}

.pos9 {/**/
  animation: jump 1s cubic-bezier(0.5,1.18,.8,1.1) calc(var(--time) + 16s) forwards;
  bottom: 5%;
  background-color: rgba(2, 90, 2, 0.8);
  left: 23%;
  opacity: 0;
}

.xl {
  height: 80px;
  width: 80px;
}

.l {
  height: 60px;
  width: 60px;
}

.m {
  height: 40px;
  width: 40px;
}

.bubble {
  border-radius: 50%;
  position: absolute;
}

@keyframes jump {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}