.section__presentation {
  animation:bounceInDown 4s forwards;
  align-content: center;
  align-items: center;
  display:flex;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: center;
  position: relative;
  position: absolute;
  top: 15%;
  text-align: center;
  width: 100%;
}

.presentation__title {
  animation: salta 1s cubic-bezier(0.5,1.18,.8,1.1) 4s forwards;
  text-shadow: 0px 2px 0px rgb(255, 255, 255);
}

.presentation__title--span {
  display: block;
}

.presentation__paragraph {
  font-size: 0.8em;
  height: auto;
  margin:0;
  padding: 20px;
  text-align: center;
  transition: color 250ms, text-shadow 250ms;
  width: auto;
}

.presentation__paragraph::after {
  bottom: -5px;
  background-color:  var(--all-color);
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 250ms;
  width: 150px;
  z-index: -1;
}

.presentation__paragraph:hover {
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.presentation__paragraph:hover::after {
    height: 105%;
    width: 105%;
}



@media (min-width: 380px) {
  .section__presentation{
    font-size: 2em;
  }

  .presentation__paragraph::after {
    width: 250px;
  }
}

@media (min-width: 500px) {
  .section__presentation{
    font-size: 2.5em;
  }

  .presentation__paragraph::after {
    width: 500px;
  }
}

@media (min-height: 1000px) {
  .section__presentation{
    font-size: 3em;
    top: 25%;
  }

  .presentation__paragraph::after {
    font-size: 1.3em;
    width: 650px;
  }
}
