.projects__title {
  animation: bounceInDown 3s forwards;
  margin: 40px auto;
  text-align: center;
  width: 100%;
}

.title {
  position: relative;
}

.title::after {
  bottom: -5px;
  background-color:  var(--all-color);
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 120px;
}

.projects__content {
  animation: 3s fadeIn 2s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  opacity: 0;
  padding-top: 30px;
}