.content__card {
  margin-bottom: 60px;
  padding: 0 10px;
  text-align: center;
  width: 100%;
}

.card__meta {
  font-size: 14px;
}

.card__link {
  color: var(--all-color);
  display: block;
  margin: 16px 0;
  text-decoration: underline;
}

.content__card:hover {
  border-radius: 10px;
  box-shadow: 5px 8px 10px #3a3a3a;
  background-color: var(--all-color);
  color:white;
}

.content__card:hover .card__link {
  color: white;
  font-weight: bold;
}

.card__icons {
  font-size:30px;
}

.card__icons i {
  margin: 0 10px 16px;
}

@media (min-width: 550px) {
  .content__card {
    width: 50%;
  }
}

@media (min-width: 700px) {
  .content__card {
    width: 30%;
  }
}