.content__card {
  width: 30%;
  text-align: center;
  margin-bottom: 60px;
}

.card__meta {
  font-size: 14px;
}

.card__link {
  color: var(--all-color);
  text-decoration: underline;
  display: block;
  margin: 16px 0;
}

.content__card:hover {
  border-radius: 10px;
  background-color: var(--all-color);
  color:white;
  box-shadow: 5px 8px 10px #3a3a3a;
}

.content__card:hover .card__link {
  color: white;
}

.card__icons {
  font-size:30px;
}