* {
  box-sizing: border-box;
}

:root {
  --all-color: rgba(2, 90, 2, 0.8);
  --time: 6s;
}

html,
body {
  color: #3a3a3a;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.animate {
  animation: salta 0.8s cubic-bezier(0.5,1.18,.8,1.1) forwards;
}

/*NAVBAR*/
.navbar {
  opacity: 0;
  animation: 2s fadeIn forwards;
}

.navbar__section {
  display: flex;
  padding: 20px 0;
}

.navbar__item {
  text-align: center;
  flex: 1;
  font-size: 1em;
}

.navbar__link:hover {
  color: var(--all-color);
}

@media (min-width: 375px) {
  .navbar__item {
    font-size: 1.5em;
  }
}

@keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}

@keyframes salta {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
