* {
  box-sizing: border-box;
}

:root {
  --all-color: rgba(2, 90, 2, 0.8);
  --time: 6s;
}

html,
body {
  color: #3a3a3a;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

@keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}
